/* unvisited link */
a:link {
    color: orangered;
    text-decoration: none;


  }
  
  /* visited link */
  a:visited {
    color: orangered;
    text-decoration: none;

  }
  
  /* mouse over link */
  a:hover {
    color:darkslateblue;
    text-decoration: underline;

  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: underline;

  }